<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Department</title>
</head>
<body>
	<h1>Add New Department</h1>
	<form th:action="@{/departments}" th:object="${department}"
		method="post">
		<label for="name">Department Name:</label> <input type="text"
			id="name" th:field="*{name}" required>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		<br> <label for="description">Description:</label>
		<textarea id="description" th:field="*{description}"></textarea>
		<div th:if="${#fields.hasErrors('description')}"
			th:errors="*{description}"></div>
		<br>

		<button type="submit">Save</button>
	</form>
	<a href="/departments">Back to Departments</a>
</body>
</html>
