<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Employee</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h2>Add/Edit Employee</h2>
		<form th:action="@{/saveEmployee}" th:object="${employee}"
			method="post">
			<div class="form-group">
				<label>First Name:</label> <input type="text" class="form-control"
					th:field="*{firstName}" placeholder="Enter first name" required />
			</div>
			<div class="form-group">
				<label>Last Name:</label> <input type="text" class="form-control"
					th:field="*{lastName}" placeholder="Enter last name" required />
			</div>
			<div class="form-group">
				<label>Email:</label> <input type="email" class="form-control"
					th:field="*{email}" placeholder="Enter email" required />
			</div>
			<div class="form-group">
				<label>Department:</label> <select class="form-control"
					th:field="*{department.id}" required>
					<option value="">Select Department</option>
					<option th:each="department : ${departments}"
						th:value="${department.id}" th:text="${department.name}"></option>

				</select>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</body>
</html>
